.footer
    background-color: $clr-gray-90
    padding: $space-7 $space-5
    text-transform: capitalize


    &__wrap
        max-width: 100rem
        margin: 0 auto

    //? Row 1
    &__toolkit
        padding-bottom: $space-7
        border-bottom: 1px solid $clr-gray-50
        display: flex
        gap: $space-6
        flex-direction: column

        @media (min-width: 62.5em) 
            flex-direction: row

        &_svg
            display: inline-block
            width: $space-7
            height: $space-7
            background-color: $clr-white
            padding: $space-3
            border-radius: 50%
            margin-bottom: $space-5

    &__column
        flex-basis: 100%
        text-align: center

        a
            font-size: 1.125rem

    //? Row 2
    &__content
        padding-top: $space-7
        padding-bottom: $space-8
        display: grid
        text-align: center
        gap: $space-7
        align-items: start
        margin-left: auto
        margin-right: auto

        @media (min-width: 62.5em)
            grid-template-columns: repeat(4, 1fr)
            text-align: left
            
        
    &__cell
        &--1
            margin-left: auto
            margin-right: auto
            img
                margin-bottom: $space-5

            @media (min-width: 62.5em) 
                grid-area: 1 / 1 / span 2 / 2

        &--2,
        &--3,
        &--4
            @media( max-width: 62.5em )
                position: relative  
                margin-bottom: -$space-7 
                border-top: 1px solid $clr-gray-50
                border-bottom: 1px solid $clr-gray-50

        &--5
            @media( max-width: 62.5em )
                position: relative  
                border-top: 1px solid $clr-gray-50
                border-bottom: 1px solid $clr-gray-50

        &--6,
        &--7    
            h4
                text-align: center

        &--6
            @media (min-width: 62.5em) 
                grid-area: 1 / 4 / -1 /5 
        &--7
            display: flex
            flex-direction: column
            justify-content: space-between
                
            .cards
                display: flex
                align-items: center
                justify-content: center
                gap: 10px
                margin-top: $space-5

                li
                    width: 2.87rem
                    height: 2rem
                
    &__nav_list
        display: flex
        flex-direction: column
        gap: $space-3   

        > li:last-child
            @media (max-width: 62.5em) 
                margin-bottom: $space-4     

    &__socials
        display: flex
        gap: 0
        justify-content: space-around
        align-items: center    

    &_links
        & > *
            border-top: 1px solid $clr-gray-50

    //? Row 3
    &__policies
        display: flex
        gap: $space-6
        align-items: center

        & > *
            flex: 1 1 100%      

        @media( max-width: 62.5em )
            flex-direction: column-reverse
            text-align: center

        &_list 
            display: flex
            gap: $space-6
            align-items: center
            flex-direction: column

            @media (min-width: 62.5em) 
                flex-direction: row

            @media (max-width: 62.5em)
                gap: 1rem
   
    &__copyright
        font-size: $Caption-Regular
        flex-basis: 80%



